node_modules/
dist/
.features-gen/
logs/
/reports/
test-results/
playwright-report/
support/mcp/logs/
support/mcp/steps/*.yaml
support/mcp/screenshots/
*.tsbuildinfo
.env.local
.env
.DS_Store
baselines/
.tmp/
.snapshots-images/
.features-gen-demo/
support/mcp/steps/**/*.yaml
.yarn-cache/
.sy-data/
.pm2/
coverage/
